body {
    font-family: Arial, sans-serif;
    background-image: url('../imgs/view.avif');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes the background image stay fixed during scrolling */
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin-left: 60px; /* Align the form to the left */
    padding: 40px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    form {
        width: 80%;
        margin-left: 10px; /* Ensure left margin */
        margin-top: 20px;
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 95%;
        margin-left: 10px; /* Ensure left margin */
        padding: 20px;
    }
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    color: #333;
}

.invoice-details {
    padding: 20px;
    border-top: 2px solid #ddd;
}

.invoice-details h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.invoice-details p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.invoice-details p strong {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

.back-button {
    margin-top: 20px;
    text-align: center;
}
