/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background: url('../imgs/nextpage.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

/* Heading */
h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Form Styling */
/* Form Styling */
form {
    background-color: rgba(255, 255, 255, 0.9);
    width: 600px;
    margin-left: 60px; /* Align the form to the left */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    form {
        width: 80%;
        margin-left: 10px; /* Ensure left margin */
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 95%;
        margin-left: 10px; /* Ensure left margin */
        padding: 20px;
    }
}


.form-section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #e79600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

/* Focused Input Fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #4a00e0;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 0, 224, 0.7);
}

/* Submit Button */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4a00e0;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #8e2de2;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    form {
        width: 80%;
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
}

